html,
body {
  height: 100vh !important;
  margin: 0 !important;
  padding: 0 !important;
}
@import './variables/variables';
@import './nav/_nav';
.bg-main {
  background-image: url(../img/b1.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.bg-dark-transparent {
  background-color: rgba(32, 32, 32, 0.6) !important;
}
@media screen and (max-width: 600px) {
  .core-pic {
    width: 330px;
  }
  .coreAssist-big-logo {
    width: 330px;
  }
}
